/dexPracticeTotal/.idea
/dexPracticeTotal/dexPracticeTotal/bin
/dexPracticeTotal/dexPracticeTotal/obj
/dexPracticeTotal/dexPracticeTotal/dexPracticeTotal.csproj
/dexPracticeTotal/dexPracticeTotal.sln
